body {
    background-color: lightblue;
}

h1 {
text-align: center;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 180px;
    border-color: black;
    max-width: 80%;
}

.card {
    border: solid black;
    align-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
    margin-top: 10px;
    background-color: cadetblue;
    max-height: 300px;
    max-width: 150px;
}

.card-img {
    max-width: 100%;
    max-height: 100%;
}